<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Cadastro de Produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="teste" class="form-cadastro">
    <div>
      <ion-input
        label="produto"
        label-placement="floating"
        fill="outline"
        placeholder="Enter text"
        formControlName="nome_produto"
        placeholder="Digite o nome do produto"
      ></ion-input>

      <ion-text
        color="danger"
        *ngIf="teste.get('nome_produto')?.invalid && teste.get('nome_produto')?.touched"
        class="ion-padding-start"
      >
        Produto é obrigatório
      </ion-text>
    </div>
    <br />
    <div>
      <ion-input
        label="valor"
        label-placement="floating"
        fill="outline"
        type="number"
        formControlName="valor_produto"
        placeholder="Digite o valor"
        (blur)="formatarMoeda()"
      ></ion-input>

      <ion-text
        color="danger"
        *ngIf="teste.get('valor_produto')?.invalid && teste.get('valor_produto')?.touched"
        class="ion-padding-start"
      >
        Valor é obrigatório
      </ion-text>
    </div>
    <ion-button
      expand="block"
      color="primary"
      class="ion-margin-top"
      (click)="salvarUsuario(teste)"
    >
      Salvar
    </ion-button>
  </form>

  <ion-list class="ion-margin-top">
    <ion-item
      *ngFor="let produto of produtos$ | async"
      lines="full"
      class="produto-item"
    >
      <ion-label>
        <h2>{{ produto.nome_produto }}</h2>
        <p>R$ {{ produto.valor_produto | number: '1.2-2' }}</p>
      </ion-label>
      <form action="" [formGroup]="formularioEdicao">
        <div *ngIf="produtoEditando === produto.id" class="form-edicao">
          <ion-input
            placeholder="Nome"
            formControlName="nome_produto"
          ></ion-input>
          <ion-input
            placeholder="Valor"
            formControlName="valor_produto"
          ></ion-input>
        </div>

        <ng-container *ngIf="produtoEditando !== produto.id">
          <ion-button
            fill="clear"
            color="primary"
            slot="end"
            (click)="editarProduto(produto)"
            >Editar</ion-button
          >
          <ion-button
            fill="clear"
            color="danger"
            slot="end"
            (click)="excluirProduto(produto.id)"
            >Excluir</ion-button
          >
        </ng-container>

        <ng-container *ngIf="produtoEditando === produto.id">
          <ion-button
            fill="clear"
            color="success"
            slot="end"
            (click)="salvarEdicao(produto.id)"
            >Salvar</ion-button
          >
          <ion-button
            fill="clear"
            color="medium"
            slot="end"
            (click)="cancelarEdicao()"
            >Cancelar</ion-button
          >
        </ng-container>
      </form>
    </ion-item>
  </ion-list>
</ion-content>
